.homepage {
    @extend .page;
    h1 {
        text-align: left;
        width: 100%;
    }
    h3 {
        cursor: pointer;
        width:100%;
        text-align: left;
        transition: .2s all;
        .highlight {
            font-weight: bold;
            font-size:120%;
            margin-right: .75rem;
        }
        &:hover{
            color:$highlight;
        }
    }
    .gratList {
        display: flex;
        width: 100%;
        padding: 0;
    }

    .gratList__column {
        background-clip: padding-box;
    }
    #timePeriodSelector {
        border:none;
        background-color:inherit;
        font-size:inherit;
        &:focus {
            outline:none;
        }
    }
}


@media only screen and (min-width: 768px) {
    .homepage {
        padding: 1rem 20%;
        h1 {
            padding-left:0;
        }
        // masonry layout with 2rem gutters
        .gratList {
            margin-left: -2rem;
        }
        .gratList__column {
            padding-left:2rem;
        }
    }
}