.navbar {
    height:$navbar-height;
    background-color: white;
    box-shadow: 1px -3px 8px 1px darkgray;
    display: flex;
    align-items: center;
    padding: 0 5%;
    position:fixed;
    top:0;
    width:100%;
    z-index:12;
    &--brand {
        font-size:1.5rem
    }
}