@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap');
$body-font: 'Roboto';
$header-font: 'Open Sans';

$blue: #4D9DE0;
$black: #101419;
$red: #E3170A;
$orange: #E16036;
$yellow: #FFBA08;
$green: #3BB273;

$highlight: #4D9DE0;
$bg-color:#f2f5f8;


$navbar-height: 4rem;